{% extends "base.html" %}

{% block title %}
    Scripts
{% endblock %}

{% block headerTitle %}Scripts For U 😄{% endblock %}
{% block headerSub %}Get Used To Programming{% endblock %}

{% block content %}

    <div class="jumbotron container">
        <div class="container">
            <h4 class="display-6 text-center">Scripts List</h4>
        </div>
        <ul class="list-group">
            {% for script in scripts %}
            <li class="list-group-item"><a href="#{{ script.name }}" class="link" 
                data-toggle="collapse"  aria-expanded="false" 
                aria-controls="{{ script.name }}">{{ script.title }}</a></li>
            <div class="collapse" id="{{ script.name }}">
                <div class="card card-body">
                    {{ script.content|safe }}
                    <div class="col-auto ml-auto">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#{{script.name}}Optimal">Optimal Solution</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#{{script.name}}Naive">Naive Solution</button>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}